
<#list properties as property>
  <#if property.writable>
    default void set${property.name.pascalCased}(${property.simpleTypeName} new${property.name.pascalCased}) {
        ((${simpleMixType})this).${property.name.camelCased} = new${property.name.pascalCased};
    }
  </#if>
    default ${property.simpleTypeName} get${property.name.pascalCased}() {
        return ((${simpleMixType})this).${property.name.camelCased};
    }

</#list>