<#assign parameterName="new" + property.name.pascalCased>

    default ${qualifiedMixType} with${property.name.pascalCased}(${property.simpleTypeName} ${parameterName}) {
        return ${copyInvocation?replace("%CHANGED%", parameterName)};
    }
