package ${package};

<#list imports as import>
import ${import};
</#list>

@de.benshu.jswizzle.internal.SwizzleMixin
interface ${name.pascalCased}${typeParameters}<#if superMixins?has_content> extends ${superMixins?join(", ")}</#if> {
    <#list components as component>
    ${component}

    </#list>
}
